.card {
    width: 95% !important;
    text-align: left;
    height: fit-content;
}

.card .card-img-top {
    border: none !important;
}

.card .card-body {
    background-color: #1D1D1D;
    /* height: 220px; */
    border-bottom: 1px solid rgba(196, 196, 196, 0.6);
}

.card .card-body a {
    color: #FFFFFF;
}

.card .card-title {
    color: #AD854B;
    font-size: 22px;
}

.card .card-text {
    color: #888177;
    font-size: 18px;
}