.welcome_introduce_page {
    background-color: #1e1e1e;
    width: auto;
    height: 500px;
}

.welcome_introduce_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 150px;
}

.welcome_introduce_text hr {
    margin-top: 10px;
    border: 2px solid rgba(173, 133, 75, 1);
    width: 50%;
    background-color: rgba(173, 133, 75, 1);
}

.welcome_introduce_text1 {
    font-size: 28px;
    color: #bcbcb1;
    text-transform: uppercase;
}

.welcome_introduce_text2 {
    font-size: 38px;
    color: #ffff;
}

.welcome_introduce_text3 {
    padding-right: 10px;
    font-size: 20px;
    color: #818181;
}

.welcome_introduce_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_introduce_img img {
    width: 560px;
    height: 360px;
}