.parameter_introduce_page {
    background-image: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9)), url('../../../../public/assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 220px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    font-size: 50px;
    color: #ad854b;
}

.stats__content .stats__content__detail {
    font-size: 20px;
    color: #ffff;
}

.stats__number .stats__content {
    padding: 0 70px;
    width: auto;
}