/**INFO_BOOKING_ROOM**/

.main-screen .info-booking-room {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    width: auto;
    height: 190px;
    color: rgba(255, 255, 255, 1);
}

::-webkit-calendar-picker-indicator {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius: 3px;
}

.info-booking-room .info-booking-item {
    padding: 0px 10px;
}

.info-booking-room .info-booking-item input {
    /* background-color: rgba(20, 20, 20, 1); */
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(20, 20, 20, 1);
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    width: 322px;
    padding: 10px 10px;
    margin-top: 5px;
}

.info-booking-btn {
    /* font-size: 20px; */
    /* justify-items: center;
    align-items: center; */
    margin-top: 5px;
    width: 200px;
    height: 46px;
    background-color: rgba(173, 133, 75, 1);
    color: rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(173, 133, 75, 1);
    border-radius: 0;
}